.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-height: 100vh;
}

.scroll-container {
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  /* max-width: 1920px; */
  background: linear-gradient(180deg, #FF83BD 0%, #FED700 100%);
}

.segment {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.full-bleed {
  min-height: 100vh;
}

.tv-bg {
}

.title {
  font-family: "Alro";
  font-size: 300px;
}

/* wide desktop */
@media (max-width: 1920px) {
  .title {
    font-size: 180px;
  }
}
/* desktop */
@media (max-width: 1200px) {
  .title {
    font-size: 80px;
  }
}
/* tablet */
@media (max-width: 800px) {
  .title {
    font-size: 80px;
  }
}
/* mobile large */
@media (max-width: 420px) {
  .title {
    font-size: 60px;
  }
}
/* mobile small */
@media (max-width: 280px) {
  .title {
    font-size: 300px;
  }
}
